<div class="container">
  <h1>All Job Listings</h1>
  <%= link_to "About", about_path, class: "btn btn-primary" %>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>

  <%= form_tag(job_listings_path, method: :get, class: "mb-3") do %>
    <div class="row">
      <div class="col-md-6">
        <%= text_field_tag :search, params[:search], placeholder: "Search job listings", class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= select_tag :company_id, options_for_select(Company.all.map { |c| [c.name, c.id] }, params[:company_id]), include_blank: "Filter by Company", class: "form-select" %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <% @job_listings.each do |job_listing| %>
    <div class="card my-3">
      <div class="card-body">
        <h2 class="card-title"><%= link_to job_listing.title, job_listing %></h2>
        <p class="card-text"><%= job_listing.description %></p>
        <p class="card-text"><strong>Company:</strong> <%= job_listing.company.name %></p>
      </div>
    </div>
  <% end %>


  <%= paginate @job_listings, class: "pagination justify-content-center" %>
</div>
